body{
    margin-left: 100px;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom: 50px;
    background:linear-gradient(to bottom, #e9bc68 20%, #ee9c70 60%, #e96868);
}
a{
    color: #002ca3;
}
a:visited{
    color: #04003f;
}
a:hover{
    color: #7388ff;
}
div{
    width:50%;
    padding:8px;
    margin:auto;
}

.titulo{
    font-family:fantasy;
    font-size: 48pt;
    font-weight: bold;
    line-height: 150%;
    width: 300px;
    text-align: center;
    font-size-adjust: inherit;
    color: red;
    padding:15px;
}
img{
    margin: 10px;
    padding: 10px;
}
